<html lang="en">
<head>
</head>
<body>
    <u>New ilias alert:</u> <a href="{{link}}">{{title}}</a><br/>
    <br/>
    <div style="border-left: 6px solid #2196f3;background-color: #b0e5ff;padding: 0.7em">
        {{body}}
    </div>
</body>
</html>